<h1>Makeups#index</h1>
<p>Find me in app/views/makeups/index.html.erb</p>

<%= link_to 'Add a makeup', new_makeup_path %>

<% @makeups.each do |makeup| %>

<br><li>
<%= makeup.brand %>
<%= makeup.product %>
<%= makeup.shade %>
</li>

<% end %>

